<div class="form-wrapper">
  <div class="container">
    <%= form_for(:sessions, url: login_path) do |f| %>
      <p>ログイン</p>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit value="ログイン" %>
    <% end %>
  </div>
</div>

