<div class="index-wrapper">
  <div class="container">
    <% @users.each do |user| %>
      <div class="profile" href="#{user_path(user)}">
        <div class="profile-left">
          <%= link_to(image_tag("/#{user.image_name}"), user_path(user)) %>
        </div>
        <div class="profile-right">
          <%= link_to(user.name, user_path(user)) %>
          <p><%= user.bio %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
