
/* form */

.form-wrapper{
  padding-top: 165px;

  .container{
    display: flex;
    justify-content: center;
  }
}

form{
  padding: 30px;

  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 10px 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-size: 30px;
    color: rgba(0,0,0,0.5);
    padding-bottom: 20px;
  }

  input[type="text"], input[type="password"]{
    height: 30px;
    width: 300px;
    margin-bottom: 30px;

    font-size: 18px;
    border: none;
    border-bottom: 1px solid lightgray;
    transition: all 0.5s;
    &:focus{
      outline: none;
      background-color: rgba(0,0,0,0.07);
    }
  }

  input[type="submit"]{
    width: 90px;
    height: 40px;
    border-radius: 5px;

    font-size: 18px;
    color: rgba(0,0,0,0.8);
    &:hover{
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
  }
}

/* index, show */

.index-wrapper{
  padding-top: 115px;
  .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.show-wrapper{
  padding-top: 115px;
  .container{
    display: flex;
    justify-content: center;
  }
}

.profile{
  padding: 15px;
  margin: 15px;
  border: 1px solid rgba(199,0,50,0.7);
  border-radius: 10px;

  display: flex;
  position: relative;
  .profile-left img{
    margin-right: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid gray;
  }
  
  .profile-right{
    width: 200px;
    height: 200px;
    a{
      color: black;
      font-size: 25px;
      border-bottom: 5px solid rgba(199,0,50,1.0);
    }
    p{
      margin-top: 20px;
    }
  }
  .profile-bottom{
    position: absolute;
    bottom: 5px;
    right: 10px;
    a{
      color: gray;
      &:hover{
        color: black;
      }
    }
  }
}
