<header>
  <div class="container">
    <div class="header-left">
      <%= link_to("Tweetless", root_path) %>
    </div>
    <div class="header-right">
      <%= link_to("新規登録", new_user_path) %><!--
   --><%= link_to("ログイン", "/users/login") %>
    </div>
  </div>
</header>
